<%- include('user_header', {logout : true})%>
<h1 class="to-center">Welcome to <%= restaurant.restaurant_name %></h1>
<span style="float: right;">
    <%if (showEdit) {%>
        <button><a href="/edit_restaurant_profile">Edit Profile</a></button>
        <button><a href="/insert_product">Add New Product</a></button>
    <%}%>
</span>
<div class="home-box-main">
    <%for (let product of product_list) {%>
        <% if (product != null) {%> 
            <div class="for-fulltweet-sub">
                <div class="home-box-twt-meta">
                    <span class="twt-meta-span">
                        <img src=<%= product.image %> alt="Item Image" width="200" height="200">
                    </span>
                </div>
                <div class="home-box-twt-meta">
                    <span class="twt-meta-span">
                        <h2>
                            <%= product.product_name %>
                        </h2>
                    </span>
                    <span class="twt-meta-span">
                        <h2>
                            <%= product.price %>
                        </h2>
                    </span>
                </div>
                <div class="for-fulltweet-sub">
                    <p>
                        <%= product.description %>
                    </p>
                </div>
                <%if (showCart) {%>
                    <form action="/cart" method="post">
                        <input type="number" name="qty" min="0" max="99" step="1" value="0" >
                        <input type="hidden" name="productid" value=<%=product.product_id%> >
                        <input type="hidden" name="restaurantid" value=<%=product.restaurant_id%> >
                        <button>Add to cart</button>
                    </form>
                <%}%>
                <%if (showEdit) {%>
                    <button><a href=<%= "/update_product/" + product.product_id %>>Update</a></button>
                    <button><a href=<%= "/delete_product/" + product.product_id %>>Delete</a></button>
                <%}%>
            </div>
        <%}%>
    <%}%>
</div>
<%- include('footer')%>